/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width: 970px;
	height: 367px;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	width: 970px;
	height: 285px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 970px;
	height: 125px;
	z-index: 8;
	overflow: hidden;
	display: none;
	background: url("../images/slider-caption.png") no-repeat left bottom;
}
.nivo-caption h1 {
	position: absolute;
	left: 15px;
	z-index: 10;
	text-shadow: 0 3px #898989;
	border: none !important;
	color: #FFF !important;
}
.nivo-caption p {
	padding: 65px 80px 0 15px;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 14px;
	color: #FFF;
	overflow: hidden;
}
.nivo-caption a {
	position: absolute;
	top: 60px;
	right: 20px;
	font-family: "Bebas Neue";
	font-weight: normal;
	font-size: 21px;
	color: #FFF;
}
.nivo-caption a span {
	display: block;
	font-size: 26px;
}
.nivo-html-caption {
    display:none;
}